.up
{
    background-color: green;
    color: #eeeeee;
    margin: 20px auto;
    width: 500px;
}


.main
{
    background-color: blue;
    color: #eeeeee;
    margin: auto;
    padding: 40px;
    border: 10px solid blue;
    width: 500px;
}