.wrapper
{
    background-color: aqua;
    z-index: 0;
}

.up
{
    float: left;
    background-color: bisque;
    width: 200px;
    height: 85px;
    padding-top:5px;
}

.main
{
    margin-left: 200px;
    background-color:darkgray;

}
footer
{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 1;
    background-color: limegreen ;

}